@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Barlow+Condensed:wght@100;500;700;800;900&display=swap");

* {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
}
.flex-container {
}
.navbar {
  position: fixed !important;
  width: 100% !important;
  background-color: #22242bde !important;
  backdrop-filter: blur(25px);
}
.navbar-title {
  font-family: "Alex Brush", cursive;
  font-size: 70px;
  color: #c8c8ca;
  padding-left: 15%;
  line-height: 90px;
}
.navbar-title:hover {
  color: #c8c8ca;
}
.navbar-burger {
  color: rgba(255, 255, 255, 0.795) !important;
  align-self: center;
}
.navbar-burger.is-active {
  color: rgb(255, 94, 94) !important;
}
.navbar-menu {
  width: 100%;
}

.navbar-item {
  color: rgba(255, 255, 255, 0.726) !important;
}
.navbar-item.is-active {
  background-color: red;
}

.navbar-item:hover {
  color: white !important;
  background-color: transparent !important;
}
.secondary-button {
  border-radius: 10px !important;
  border: 0.5px solid #8fff00 !important;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.795) !important;
  transition: 200ms ease-out;
}
.primary-button {
  background-color: #8fff00;
  color: #1c1d22 !important;
  border-radius: 10px;
  padding: 25px 25px;
  border: none;
  cursor: pointer;
}
.secondary-button:hover {
  background-color: #8fff00 !important;
  color: #1c1d22 !important;
  transition: 200ms ease-out;
}
.section {
  position: absolute;
  top: 0;
}
.section-padding {
  padding: 100px 100px;
}
.section-one {
  padding-top: 160px;
  display: flex;
}
.section-six {
  padding: 100px 200px;
}
.text-size-hero {
  color: #ffffff;
  opacity: 0.75;
  font-weight: 900;
  font-size: 130px;
  line-height: 120px;
}
.text-size-huge {
  color: #ffffff;
  font-weight: 900;
  opacity: 0.75;
  font-size: 120px;
}
.text-size-big {
  color: #ffffff;
  opacity: 0.75;
  font-size: 75px;
  font-weight: 800;
}
.text-size-medium {
  color: #ffffff;
  opacity: 0.75;
  font-size: 50px;
  font-weight: 800;
}
.text-size-med_sm {
  color: #ffffff;
  opacity: 0.75;
  font-size: 38px;
  font-weight: 800;
}
.text-size-small {
  color: #ffffff;
  opacity: 0.75;
  font-size: 25px;
  font-weight: 700;
}
.text-size-smaller {
  color: #ffffff;
  opacity: 0.75;
  font-size: 18px;
  font-weight: 700;
}
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}
.width-70 {
  width: 70%;
}
.width-60 {
  width: 60%;
}
.width-50 {
  width: 50%;
}

.padding-tb-medium {
  padding: 25px 0;
}
.padding-tb-big {
  padding: 75px 0 !important;
}
.margin-tb-medium {
  margin: 25px 0;
}
.bg-one {
  background-color: #22242b;
}
.bg-two {
  background-color: #1c1d22;
}
.bg-three {
  background-color: #cbcbcb;
}
.uni-item {
  display: flex;
  margin-left: 80px;
  align-self: flex-end;
  z-index: 1;
}
.hero {
  justify-content: center;
  flex: 1;
}
.hero-images {
  position: relative;
  flex: 1;
}
.hero-img {
  position: absolute;
  max-width: 800px;
  min-width: 800px;
  top: -149px;
  z-index: 0;
}
.hero-img > img {
  position: absolute;
}
.hero-circle {
  position: initial;
  height: 550px;
  width: 550px;
  left: 60%;
  border-radius: 100%;
  background-color: #1c1d22;
}
.age-uni-wrap {
  display: flex;
}
.jcc {
  display: flex;
  justify-content: center;
}
.tac {
  text-align: center;
}
.pa {
  position: absolute;
}
.lh100 {
  line-height: 100px;
}
.font-1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}
.section-title {
  position: relative;
}
.bg-title {
  color: white;
  opacity: 0.03;
}
.main-title {
  color: white;
  opacity: 0.75;
}

/*--------------- SKILL SECTION ------------*/
.skill-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.skill-item {
  display: flex;
  justify-content: space-between;
  width: 300px;
  background-color: #22242b;
  padding: 20px 10px;
  margin: 10px;
  border-radius: 7px;
}
.skill-image {
  display: flex;
  flex: 1;
}
.skill-image > img {
  width: 45px;
  object-fit: cover;
}
.skill-content {
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: space-around;
}
.skill-first {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.skill-title {
  line-height: 20px;
}
.skill-percentage {
  align-self: center;
}
.skill-second {
  position: relative;
}
.line-empty {
  width: 100%;
  height: 10px;
  background-color: #1c1d22;
  border-radius: 10px;
}
.line-filled {
  position: absolute;
  width: 90%;
  height: 10px;
  background-color: #8fff00;
  border-radius: 10px;
}

/* ---------swiper -------- */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  color: #91ff00 !important;
}

.swiper-slide {
  height: 300px !important;
  width: 300px !important;
  text-align: center;
  font-size: 18px;
  background: #1c1d22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  transition: 200ms ease-out;
}

/* --------service section --------- */
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid #91ff00c9;
  border-radius: 10px;
}
.service-img {
  text-align: center;
}
.service-title {
  text-align: center;
}

/* -----------CTA section------------ */

.section-five {
  padding: 100px 0px;
}
.important-button {
  margin: auto;
  opacity: 1;
  font-weight: 900;
  width: 50%;
}

/* ----------about section --------- */

.about-wrapper {
  gap: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-img {
  max-height: 353px;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 0px 15px #8fff00;
}
.about-img > img {
  position: relative;
  min-width: 200px;
  max-width: 300px;
  top: 30px;
  left: 30px;
}
.about-content {
  padding-top: 80px;
  font-weight: 500;
}

/* ------------contact section --------- */
.contact-form {
  display: flex;
  justify-content: center;
}
form {
  width: 40%;
}
.contact-form > form > input,
.contact-form > form > select,
.contact-form > form > textarea {
  margin-top: 20px !important;
  background-color: #22242b;
  border: none;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  font-size: 17px;
  resize: none !important;
}
.contact-form > form > select {
  color: #8fff00;
}
.contact-form > form > input, .contact-form > form > textarea {
  color: white;
  
}
textarea::before {
  content: "optional";
}
.contact-form > form > select > option {
  color: white;
}
.contact-form > form > select >option:disabled {
  color: rgb(116, 116, 116);
}

.err {
  color: rgba(255, 55, 55, 0.575);
}
.err-disable {
  display: none;
}

.submitFormBtn {
  margin-top: 20px;
  border: none !important;
  border-radius: 7px;
  background-color: #8fff00 !important;
  color: black !important;
  transition: 200ms ease-out;
  width: 100%;
}
.submitFormBtn:disabled {
  background-color: #bdc3c7 !important;
  border: 1px solid #bdc3c7 !important;
  color: #7f8c8d !important;
}
.submitFormBtn:disabled:hover {
  border: 1px solid red !important;
  animation: horizontal-shaking 0.25s 3;
}
@keyframes horizontal-shaking {
  0% {transform: translateX(-2px);}
  25% {transform: translateX(2px);}
  50% {transform: translateX(-2px);}
  75% {transform: translateX(2px);}
  100% {transform: translateX(-2px);}
}




/* ----------footer ----------- */
footer {
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
}
.footer-wrapper {
  padding: 100px;
  display: flex;
  justify-content: space-around;
}
.footer-1 {

}
.footer-2 {
  align-self: center;
  width: 20%;
}
.footer-3 {
  align-self: center;
}
.footer-social-media > a {
  text-decoration: none;
  font-size: 30px;
  color: #d3d3d39c;
}
.footer-social-media {
  display: flex;
  justify-content: space-around;
}

.footer-social-media > a > img:hover {
  transform: scale(1.2);
  transition: 200ms ease-out;
  opacity: 1;
}
.footer-social-media > a > img {
  transition: 200ms ease-out;
  opacity: 0.7;
}


@media only screen and (max-width: 1350px) {
  .hero-images {
    position: relative;
    flex: 2;
  }
  .hero-img {
    position: absolute;
    max-width: 841px;
    min-width: 770px;
    top: 3px;
    left: -150px;
  }
  .section-six {
    padding: 100px 100px;
  }
}
@media only screen and (max-width: 1250px) {
  .section-one {
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0px;
    padding-top: 150px;
    margin-bottom: -20px;
  }
  .hero-img,
  .hero-img > img {
    top: 0px;
  }
  .hero-img {
    position: absolute;
    max-width: 841px;
    min-width: 570px;
    top: -40px;
    left: 0px;
  }
}
@media only screen and (max-width: 1023px) {
  .navbar-menu {
    position: absolute;
    backdrop-filter: blur(25px);
    background-color: #22242b !important;
  }
}
@media only screen and (max-width: 991px) {
  .footer-wrapper {
    padding: 100px 30px;
    justify-content: space-between;
  }
  .footer-1 {
  
  }
  .footer-2 {
    align-self: center;
    width: 40%;
  }
}


@media only screen and (max-width: 892px) {
  .age-uni-wrap {
    flex-direction: column;
  }
  .uni-item {
    margin-left: 0px;
    align-self: flex-start;
  }
  .hero-img {
    min-width: 400px;
  }
  .section-one {
    margin-bottom: -90px;
  }
  .section-two {
    padding-bottom: 0px;
  }
  .section-three {
    padding-bottom: 0px;
  }
  .section-four {
    padding-bottom: 0px;
  }
  .section-five {
    
  }
  .section-six {
    padding: 100px 15px 0px 15px;
  }
  .hero-circle {
    width: 450px;
    height: 450px;
  }
}
@media only screen and (max-width: 679px) {
  .section-two {
    padding: 10px;
  }
  .section-three {
    padding: 10px;
  }
  .section-four {
    padding: 10px;
  }
  .section-five {
    padding: 70px 10px 70px 10px;
  }
  .section-six {
    padding: 10px;
  }
  .about-wrapper {
    flex-wrap: wrap;
  }
  .about-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  form {
    width: 60% !important;
  }
}
@media only screen and (max-width: 600px) {
  .hero-circle {
    width: 350px;
    height: 350px;
  }
  .section-one {
    padding: 10px;
    padding-top: 150px;
    margin-bottom: -50px;
  }
  .section-two {
    padding: 0px;
  }
  .section-three {
    padding: 0px 0px;
  }
  .section-four {
    padding: 0px;
  }
  .section-five {
    padding: 70px 0px 70px 0px;
  }
  .section-six {
    padding: 0px;
  }
  .navbar-title {
    padding-left: 0%;
  }
  .hero-img {
    min-width: 350px;
  }
  .text-size-medium {
    font-size: 35px;
  }
  .text-size-huge {
    font-size: 85px;
  }
  .about-wrapper {
    padding-top: 50px !important;
  }
  .primary-button {
    padding: 17px 25px;
  }
  .call-to-action-wrapper {
    padding-top: 50px !important;
  }
  .contact-form {
    padding-top: 50px !important;
  }
}
@media only screen and (max-width: 542px) {
  .footer-wrapper {
    padding: 100px 30px;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-1 {
    margin-bottom: 30px;
  }
  .footer-1 > .title-wrapper {
   justify-content: center;
  }
  .footer-social-media {
    width: 40%;
    justify-content: space-evenly;
    margin: auto;
  }
  .footer-2 {
    margin-bottom: 30px;
    align-self: center;
    width: 80%;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .section-five .text-size-medium {
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 450px) {
  .service-item {
    width: 150px;
    height: 150px;
  }
  form {
    width: 90% !important;
  }
}
@media only screen and (max-width: 430px) {
  .about-img {
    margin-left: 20px;
  }
  .about-wrapper {
    justify-content: flex-start;
  }
  .hire-me-button {
    width: 80%;
  }
}

@media only screen and (max-width: 360px) {
  .section-five .text-size-medium {
    font-size: 25px !important;
  }
  .about-img {
    margin-left: 0px;
  }
}
